/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2015, 10:53:48 AM
    Author     : ylopez
*/

.col-color {
	background: rgba(255,252,248, 0.7);
	/*background-color: #fffcf8;*/
	/*background-color: #F5F5F5;*/
	/*background-color: #FFFAFA;*/
}

.col-container {
	background: rgba(255,252,248, 0.7);
	/*background-color: #fffcf8;*/
	/*background-color: #F5F5F5;*/
	/*background-color: #FFFAFA;*/
}

.col-center {
	padding: 0 5px;
}

.col-post {
	margin-bottom: 15px;
	text-align: left;
}

.col-post .submit {
	float: right;
}

.post_header h4 {
	float: left;
}

.post_header span {
	float: right;
	font-size: 12px;
}

.post_body {
	clear: both;
}

.post_body img, .post_body video {
	float: left;
	width: 30%;
	margin-right: 15px;
}

.post_body span{
	text-align: justify;
}

.col-row {
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 20px;
}

.user_profile_menu .options {
	margin-top: 10px;
	margin-bottom:  10px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.default-layout-panel {
	padding-top: 20px;
}

.corners {
	border-radius: 25px;
}

.login-register {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.register {
	border-radius: 25px;
	padding-bottom: 20px;
	margin-top: 20px;
}

input, select {
	margin-left: 5px;
}

.login-register input[type="text"], .login-register input[type="email"], .login-register input[type="password"] {
	width: 70%;
}

.register input[type="text"], .register input[type="email"], .register input[type="password"] {
	width: 45%;
}

.register input[name^="data[UserPhone]"][name$="[number]"] {
	/*width: 20%;*/
}

input[type="submit"] {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
}

input[type="submit"]:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.submit {
	margin-top: 10px;
}

form .input {
    padding: 0 0 10px 0;
}

.new_item_img, .new_phone_img, .new_multimedia_img {
	width: 30px;
	cursor: pointer;
}

div[class^="new_multimedia_item_"] {
	margin-top: 20px;
}

img[id^="Multimedia"][id$="Image"],  video[id^="Multimedia"][id$="Video"]{
	width: 100%;
}

#MultimediaAddMultimediaForm textarea {
	width: 100%;
}

.welcome h1 {
	text-align: center;
}

.welcome-text {
	text-align: justify;
}

.header {
	padding: 15px 0px;
	font-size: 20px;
}

input[type="text"], input[type="email"] {
	width: 250px;
}

.dropzone {
	text-align: center;
}

.error_flash {
	margin-top: 3px;
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	text-align: center;
	padding: 15px 10px 15px 50px;
	background-image: url('images/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success_flash {
	margin-top: 3px;
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 1px solid;
	text-align: center;
	padding: 15px 10px 15px 50px;
	background-image: url('images/success.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}

.row table {
	width: 100%;
}

.multimedia_collection {
	width: 15%;
    float: left;
    margin-right: 50px;
}

.multimedia_collection_front {
	width: 151px;
    height: 151px;
}

.multimedia_collection_front img {
	width: 151px;
}

.multimedia_collection_front video {
	width: 151px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img_view {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.9);
}

.multimedia_control {
	/*display: none;*/
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 3px;
	height:100%;
	background-color: rgba(0,0,0,1);
	color:white;
	vertical-align: middle;
}
.multimedia_control span {
	position: absolute;
	top: 50%;
}

.multimedia_control.previous {
	left: 0;
	z-index: 10;
}

.multimedia_control.previous span {
	right: 30%;
}

.multimedia_control.next {
	right: 0;
	z-index: 10;
}

.multimedia_control.next span {
	right: 30%;
}

.multimedia_control:hover {
	width: 10%;
}

.big_img img {
	width: 100%
}

.big_img video {
	width: 100%;
}

.multimedia_title {
	color: white;
}

.big_img_description {
	font-size: 14px;
}

.big_img_comments {
	font-size: 11px;
	overflow-y: auto;
	height: 300px;
}

.cerrar {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

.cerrar span{
	color: white;
}

.comments_box {
	padding: 25px 15px;
}

.new_comment {
	margin-top: 10px;
}

.new_comment textarea {
	width: 100%;
}

.comment {
	width: 98%;
	background: linear-gradient(to bottom, #3cb0fd, #3498db);
	color: white;
	margin-top: 6px;
	padding: 4px 10px;
	border-radius: 25px;
}

#UserSearchForm .input {
	float: left;
	padding: 0;
    font-size: small;
	margin-top: 1%;
	margin-left: 10px;
}

#UserSearchForm .submit {
	float: left;
	font-size: small;
	margin-top: 0;
}

.result_user {
	text-align: left;
	margin-top: 20px;
}

.result_user .result_user_img {
	width: 100%;
}

.result_user_info {
	font-size: xx-large;
	position: relative;
}

.result_user_info button {
	position: absolute;
	right: 0%;
	
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	font-size: small;
}

.result_user_info button:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.result_user_info button:disabled {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #DCDCDC, #696969);
	background-image: -moz-linear-gradient(top, #DCDCDC, #696969);
	background-image: -ms-linear-gradient(top, #DCDCDC, #696969);
	background-image: -o-linear-gradient(top, #DCDCDC, #696969);
	background-image: linear-gradient(to bottom, #DCDCDC, #696969);
	text-decoration: none;
}